<header>
    <h2 class="md-headline">
        {{ title }}
    </h2>
</header>

<section layout="row" layout-margin>
    <form name="vm.changeForm" layout="column">
        <md-input-container>
            <label for="password">Enter new password</label>

            <input type="password" ng-model="vm.pw" zxcvbn="vm.strength"
                   zx-min-score="2" required pw-constraints
                   autofocus name="password" id="password">

            <ng-messages for="vm.changeForm.password.$error" role="alert"
                         layout="column">
                <ng-message when="required">
                    Required.
                </ng-message>
            </ng-messages>

            <pw-password-advice warning="vm.strength.feedback.warning"
                                suggestions="vm.strength.feedback.suggestions"
                                class="md-caption" layout="row"
                                layout-align="end center">
            </pw-password-advice>
        </md-input-container>

        <!-- TODO: couldn't figure out a better way to keep the input
             from resizing when something is entered.  Width is the
             length of the longest error message present in the form -->
        <md-input-container style="width: 30ch">
            <label for="pwagain">Enter new password (again)</label>

            <input type="password" ng-model="vm.pwagain" name="pwagain"
                   required pw-must-match="{{ vm.pw }}" id="pwagain">
            <ng-messages for="vm.changeForm.pwagain.$error" role="alert">
                <ng-message when="required">
                    Required.
                </ng-message>
                <ng-message when="match">
                    Passwords must be the same.
                </ng-message>
            </ng-messages>
        </md-input-container>

        <section layout="row" layout-align="space-between start">
            <md-button ng-click="vm.cancel()"
                       class="md-accent md-raised">
                Cancel
            </md-button>

            <md-button ng-click="vm.change()"
                       class="md-primary md-raised">
                Change
            </md-button>
        </section>
    </form>

    <section layout="column" layout-align="start center">
        <pw-password-requirements class="md-body-1">
            <pw-password-requirement error="vm.changeForm.password.$error.passwordStrength">
                Must have a minimum password strength of 2.
            </pw-password-requirement>
        </pw-password-requirements>

        <pw-strength-meter score="vm.strength.score"
                           pw-input="vm.changeForm.password">
        </pw-strength-meter>
    </section>
</section>