pw-password-requirements ul {
    list-style: none;
}

pw-password-requirements ul li:before {
    display: inline-block; /* allows custom width adjustment */
    width: 1em; /* ensure text next to bullets lines up vertically */
}

pw-password-requirements ul li.met:before {
    content: '✓';
    color: olivedrab;
}

pw-password-requirements ul li.met {
    color: olivedrab;
}

pw-password-requirements ul li.unmet:before {
    content: '✗';
    color: rgb(221, 44, 0); /* md error color md-warn */
}

pw-password-requirements ul li.unmet {
    color: rgb(221, 44, 0); /* md error color md-warn */
}