pw-strength-word md-icon {
    height: 12px;
    width: 12px;
    vertical-align: top;
}

/* needed some resets on material's buttons to make the help icon less
   conspicuous */
pw-strength-word button.md-button.md-icon-button {
    padding: initial;
    width: initial;
    height: initial;
    margin: initial;
    min-height: initial;
}
