<md-card ng-if="vm.codes.length > 0">
    <md-card-content layout="column" layout-align="center center">
        <h3 layout="row" class="md-subhead" layout-fill>
            <span flex>{{ vm.config.idpName }} account</span>
            <em class="md-caption">{{ vm.now() | date:'mediumDate'}}</em>
        </h3>

        <p layout="column" layout-align="center center" layout-wrap
           ng-style="vm.calculateMaxHeight(vm.codes)">
            <code ng-repeat="_code in vm.codes">
                ☐ {{ _code }}
            </code>
        </p>

        <span class="md-caption">Each code may only be used once.</span>
    </md-card-content>

    <md-card-actions layout="row" layout-align="center center">
        <md-button class="md-primary" pw-print="md-card-content">
            Print
        </md-button>

        <a ng-href="data:text/plain,{{ vm.config.idpName + '\n'}}{{ vm.codes.join('\n') }}"
           download="{{ vm.config.idpName }}-printable-codes.txt" pw-allow-data-url
           class="md-button md-primary">
            Download
        </a>

        <md-button class="md-primary" pw-clipboard-copy="{{ vm.codes.join('\n') }}">
            Copy
        </md-button>
    </md-card-actions>
</md-card>

<md-card ng-if="vm.codes.length < 1">
    <md-card-content layout="column">
        <md-icon md-svg-src="images/md-icons/ic_warning_24px.svg" class="md-icon md-warn"></md-icon>
        <p class="md-body-1">
            You have reached this page in error, if you do not have a copy of your printable codes you will need to create new ones from your profile page again.
        </p>
    </md-card-content>
</md-card>
