<md-dialog aria-label="Caution">
    <md-toolbar class="md-toolbar-tools md-warn">
        <h2>Are you sure?</h2>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content md-body-1">
        <p>
            Would you like to discard your changes?
        </p>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="start center">
        <md-button ng-click="vm.no()" class="md-accent" md-auto-focus>
            No
        </md-button>

        <span flex></span>

        <md-button ng-click="vm.yes()" class="md-warn">
            Yes
        </md-button>
    </md-dialog-actions>
</md-dialog>
