<header>
    <h2 class="md-headline">
        {{ title }}
    </h2>
</header>

<p class="md-body-1">
    Additional password recovery methods can be useful during verification
    when your primary email address is not accessible.

    <em>
        Security questions are no longer considered a safe practice
        and will not be used anymore.
    </em>
</p>

<md-content layout="column" layout-align="start start" layout-fill>
    <md-list>
        <md-subheader class="md-no-sticky">
            Send code in an email
        </md-subheader>

        <md-list-item ng-repeat="_method in vm.methods |
                                 filter: { type: 'email' }"
                      layout="row"
                      layout-align="start center">
            <md-icon md-svg-src="images/md-icons/ic_email_24px.svg"
                     class="md-avatar-icon">
            </md-icon>

            <p class="md-body-1 avoid-text-button-overlap">
                {{ _method.value }}
            </p>

            <md-button ng-click="vm.verify(_method)"
                       class="md-icon-button md-secondary"
                       aria-label="Verify">
                <md-tooltip md-direction="left">
                <span>
                    Send code
                </span>
                </md-tooltip>

                <md-icon md-svg-src="images/md-icons/ic_send_24px.svg">
                </md-icon>
            </md-button>
        </md-list-item>

        <md-subheader class="md-no-sticky">
            Send code in a text message
        </md-subheader>

        <md-list-item ng-repeat="_method in vm.methods |
                                 filter: { type: 'phone' }"
                      layout="row"
                      layout-align="start center">
            <md-icon md-svg-src="images/md-icons/ic_phone_24px.svg"
                     class="md-avatar-icon">
            </md-icon>

            <p class="md-body-1 avoid-text-button-overlap">
                {{ _method.value }}
            </p>

            <md-button ng-click="vm.verify(_method)"
                       class="md-icon-button md-secondary"
                       aria-label="Verify">
                <md-tooltip md-direction="left">
                <span>
                    Send code
                </span>
                </md-tooltip>

                <md-icon md-svg-src="images/md-icons/ic_send_24px.svg">
                </md-icon>
            </md-button>
        </md-list-item>

        <!--<md-subheader class="md-no-sticky">Other</md-subheader>-->

        <!--<md-list-item ng-repeat="_method in vm.methods |-->
        <!--filter: vm.isOther"-->
        <!--layout="row"-->
        <!--layout-align="start center">-->
        <!--<md-icon md-svg-src="images/md-icons/ic_email_24px.svg"-->
        <!--class="md-avatar-icon">-->
        <!--</md-icon>-->

        <!--<p class="md-body-1 avoid-text-button-overlap">-->
        <!--{{ _method.value }}-->
        <!--</p>-->

        <!--<md-button ng-click="vm.verify(_method)"-->
        <!--class="md-icon-button md-secondary"-->
        <!--aria-label="Verify">-->
        <!--<md-tooltip md-direction="left">-->
        <!--<span>-->
        <!--Send code-->
        <!--</span>-->
        <!--</md-tooltip>-->

        <!--<md-icon md-svg-src="images/md-icons/ic_send_24px.svg">-->
        <!--</md-icon>-->
        <!--</md-button>-->
        <!--</md-list-item>-->
    </md-list>
</md-content>
