<md-dialog aria-label="Verify code">
    <md-toolbar class="md-toolbar-tools">
        <h2>Code verification</h2>

        <span flex></span>

        <md-button class="md-icon-button"
                   ng-click="vm.cancel()">
            <md-icon md-svg-src="images/md-icons/ic_close_24px.svg"
                     aria-label="Close dialog">
            </md-icon>
        </md-button>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content" layout="column"
                       layout-align="start center">
        <p ng-if="vm.anotherSent" class="md-body-1">
            Another verification code has been sent, please enter it
            below.
        </p>
        <p ng-if="! vm.anotherSent" class="md-body-1">
            Please enter the verification code you have received.
        </p>

        <form name="vm.verificationForm">
            <!-- TODO: couldn't figure out a better way to keep the input
                 from resizing when something is entered.  Width is the
                 length of the longest phone number that could be input -->
            <md-input-container style="width: 30ch">
                <label>Code</label>

                <input type="text"
                       name="verificationCode"
                       ng-model="vm.verificationCode"
                       required
                       md-autofocus>
                <ng-messages
                        for="vm.verificationForm.verificationCode.$error"
                        role="alert">
                    <ng-message when="required">
                        Required.
                    </ng-message>
                    <ng-message when="incorrect">
                        {{ vm.message }}
                    </ng-message>
                </ng-messages>
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button ng-click="vm.resendCode()" class="md-accent">
            Resend
        </md-button>

        <md-button ng-click="vm.verify()" class="md-primary">
            Verify
        </md-button>
    </md-dialog-actions>
</md-dialog>
