<section layout="column">
    <h2 class="md-headline">
        {{ title }}
    </h2>

    <p ng-if="vm.anotherSent" class="md-body-1">
        Another verification code has been sent, please enter it below.
    </p>
    <p ng-if="! vm.anotherSent" class="md-body-1">
        You should have received a verification code, please enter it
        below.
    </p>

    <form name="vm.verificationForm" layout="column"
          layout-align="start center">
        <!-- TODO: couldn't figure out a better way to keep the input
             from resizing when something is entered.  Width is the
             length of the longest code -->
        <md-input-container style="width: 20ch">
            <label>Code</label>

            <input type="text" name="verificationCode"
                   ng-model="vm.verificationCode" required autofocus>
            <ng-messages
                    for="vm.verificationForm.verificationCode.$error"
                    role="alert">
                <ng-message when="required">
                    Required.
                </ng-message>
            </ng-messages>
        </md-input-container>

        <section layout="row" layout-align="start center" layout-fill>
            <md-button ng-click="vm.resendCode()" tabindex="-1"
                       class="md-raised md-accent">
                Resend
            </md-button>

            <span flex></span>

            <md-button ng-click="vm.verify()"
                       class="md-raised md-primary">
                Verify
            </md-button>
        </section>
    </form>
</section>