<md-dialog aria-label="Verify code">
    <md-toolbar class="md-toolbar-tools">
        <h2>Code verification</h2>

        <span flex></span>

        <md-button class="md-icon-button"
                   ng-click="vm.cancelVerification()">
            <md-icon md-svg-src="images/md-icons/ic_close_24px.svg"
                     aria-label="Close dialog">
            </md-icon>
        </md-button>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content" layout="column"
                       layout-align="start center">
        <p  ng-if="vm.anotherSent" class="md-body-1">
            Another verification code has been sent, please enter it below.
        </p>
        <p  ng-if="! vm.anotherSent" class="md-body-1">
            Please enter the verification code you have received.
        </p>

        <form name="vm.verificationForm">
            <md-input-container>
                <label>Code</label>

                <input type="text"
                       name="verificationCode"
                       ng-model="vm.verificationCode"
                       required
                       md-autofocus>
                <!-- TODO: add messaging here but beware, input resizes...
                           need to research how to fix the width. -->
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button ng-click="vm.resendCode()" class="md-accent">
            Resend
        </md-button>

        <md-button ng-click="vm.verifyCode()"
                   ng-disabled="vm.verificationForm.$invalid"
                   class="md-primary">
            Verify
        </md-button>
    </md-dialog-actions>
</md-dialog>
