/* users weren't exactly sure where the input was since there was no
   border. */
md-input-container input.md-input {
    background-color: rgba(0, 0, 0, 0.015);
    border-radius: 2px;
}

/* mimic the cursor behavior of the input so users get some sense of
   interactivity. */
md-input-container {
    cursor: text;
}