md-toolbar a, md-toolbar img {
    height: inherit;
}

.md-body-1, .md-body-2 {
    max-width: 60ch; /* adhering to material spec on optimal line length */
}

/* ensures text to the left of an md-button doesn't hide behind the button */
md-list-item .avoid-text-button-overlap {
    padding-right: 90px; /* based on width-related styles in .md-button */
}

/* ensures text to the left of an md-icon doesn't hide behind the icon */
md-list-item .avoid-text-icon-overlap {
    padding-right: 25px; /* based on width-related styles in md-icon */
}
