<md-list>
    <md-list-item layout="column" layout-align="center start">
        <h2 class="md-display-2">
            {{ vm.user.first_name + ' ' + vm.user.last_name }}
        </h2>

        <p class="md-body-1">
            <strong class="md-body-2">
                {{ vm.config.idpName }} username:
            </strong>

            {{ vm.user.idp_username }}
        </p>

        <p class="md-body-1">
            <strong class="md-body-2">
                Primary email:
            </strong>

            {{ vm.user.email }}
        </p>
    </md-list-item>

    <md-divider></md-divider>

    <md-list-item>
        <h3 class="md-display-1 avoid-text-button-overlap">
            Password
        </h3>

        <md-button ng-click="vm.navigate('change')" autofocus
                   class="md-secondary md-primary md-raised">
            Change
        </md-button>
    </md-list-item>

    <md-list-item layout="column" layout-align="center start">
        <p class="md-body-1">
            <strong class="md-body-2">
                Last changed:
            </strong>

            {{ vm.user.password_meta.last_changed | date:'medium' }}
        </p>

        <p class="md-body-1">
            <strong class="md-body-2">
                Expires:
            </strong>

            {{ vm.user.password_meta.expires | date:'mediumDate' }}
        </p>
    </md-list-item>

    <md-divider></md-divider>

    <md-list-item>
        <h3 class="md-display-1 avoid-text-button-overlap"
            id="methods"> <!-- id for fragment identifier used in nav menu -->
            Recovery methods
        </h3>

        <md-button ng-click="vm.navigate('recovery-method/add')"
                   class="md-secondary md-primary md-raised">
            Add
        </md-button>
    </md-list-item>

    <md-list-item layout="column" layout-align="center start"
                  class="md-body-1">
        <p>
            Additional password recovery methods can be useful during
            verification when your primary email address is not
            accessible.
        </p>
    </md-list-item>

    <md-subheader class="md-no-sticky">Email</md-subheader>

    <md-list-item ng-repeat="_method in vm.method.emails">
        <md-icon md-svg-src="images/md-icons/ic_email_24px.svg"
                 class="md-avatar-icon">
        </md-icon>

        <p class="md-body-1 avoid-text-icon-overlap">
            {{ _method.value }}
        </p>

        <md-button ng-click="vm.delete(_method)"
                   class="md-icon-button md-secondary"
                   aria-label="Delete">
            <md-icon md-svg-src="images/md-icons/ic_delete_24px.svg">
            </md-icon>
        </md-button>
    </md-list-item>

    <md-list-item ng-if="vm.method.emails.length < 1">
        <md-icon md-svg-src="images/md-icons/ic_warning_24px.svg"
                 class="md-avatar-icon">
        </md-icon>

        <p class="md-body-1 avoid-text-icon-overlap">
            Please consider adding at least one email.
        </p>
    </md-list-item>

    <md-subheader class="md-no-sticky">Phone</md-subheader>

    <md-list-item ng-repeat="_method in vm.method.phones ">
        <md-icon md-svg-src="images/md-icons/ic_phone_24px.svg"
                 class="md-avatar-icon">
        </md-icon>

        <p class="md-body-1 avoid-text-icon-overlap">
            {{ _method.value}}
        </p>

        <md-button ng-click="vm.delete(_method)"
                   class="md-icon-button md-secondary"
                   aria-label="Delete">
            <md-icon md-svg-src="images/md-icons/ic_delete_24px.svg">
            </md-icon>
        </md-button>
    </md-list-item>

    <md-list-item ng-if="vm.method.phones.length < 1">
        <md-icon md-svg-src="images/md-icons/ic_warning_24px.svg"
                 class="md-avatar-icon">
        </md-icon>

        <p class="md-body-1 avoid-text-icon-overlap">
            Please consider adding at least one phone number.
        </p>
    </md-list-item>
</md-list>
