<section layout="column">
    <h2 class="md-headline">
        Password Management
    </h2>

    <md-list>
        <md-list-item ng-click="vm.navigate('forgot')">
            <md-icon md-svg-src="images/forgot_pw_24px.svg"></md-icon>
            <p>I forgot my password</p>
        </md-list-item>
        <md-list-item ng-click="vm.login()">
            <md-icon md-svg-src="images/md-icons/ic_update_24px.svg"></md-icon>
            <p>Login to change my password</p>
        </md-list-item>
    </md-list>
</section>
