(function () {
    'use strict';

    angular
        .module('password.forgot')
        .constant('RECAPTCHA_SITE_KEY', '@@recaptchaSiteKey'); // <@@recaptchaSiteKey> being derived from Gruntfile in the 'replace' target.
})();
