<md-sidenav md-is-locked-open="$mdMedia('gt-sm')"
            md-component-id="sidenav" layout="column" flex
            class="md-whiteframe-z2">
    <md-toolbar class="md-toolbar-tools">
        <img src="images/logo.png" alt="logo" />

        <span hide-gt-sm flex></span>

        <md-button hide-gt-sm ng-click="vm.closeNav()"
                   class="md-icon-button" aria-label="Close Nav">
            <md-icon md-svg-src="images/md-icons/ic_close_24px.svg">
            </md-icon>
        </md-button>
    </md-toolbar>

    <md-content layout="column" flex>
        <md-toolbar class="md-toolbar-tools md-accent"
                    layout="row"
                    layout-align="space-between center">
            <h1>{{ vm.user.name }}</h1>

            <md-button ng-if="vm.user.isAuthenticated"
                       ng-click="vm.logout()">
                <md-icon md-svg-src="images/md-icons/ic_person_24px.svg">
                </md-icon>
                Logout
            </md-button>

            <md-button ng-if="! vm.user.isAuthenticated"
                       ng-click="vm.login()">
                <md-icon md-svg-src="images/md-icons/ic_person_outline_24px.svg">
                </md-icon>
                Login
            </md-button>
        </md-toolbar>

        <md-list flex>
            <md-list-item ng-if="! vm.user.isAuthenticated"
                          ng-click="vm.navigate('forgot')">
                <md-icon md-svg-src="images/forgot_pw_24px.svg">
                </md-icon>
                <p>Forgot password</p>
            </md-list-item>

            <md-list-item ng-if="vm.user.isAuthenticated"
                          ng-click="vm.navigate('change')">
                <md-icon md-svg-src="images/md-icons/ic_update_24px.svg">
                </md-icon>
                <p>Change my password</p>
            </md-list-item>

            <md-list-item ng-if="vm.user.isAuthenticated"
                          ng-click="vm.navigate('profile')">
                <md-icon md-svg-src="images/md-icons/ic_group_work_24px.svg">
                </md-icon>
                <p>Manage recovery methods</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
