<md-dialog>
    <md-toolbar class="md-toolbar-tools">
        <h2>Advice</h2>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content">
        <div ng-if="vm.warning">
            <h3 class="md-title">Warning</h3>
            <p class="md-body-1">{{ vm.warning }}</p>
        </div>

        <h3 ng-if="vm.suggestions.length > 0" class="md-title">
            Suggestions
        </h3>
        <div ng-repeat="_suggestion in vm.suggestions">
            <p class="md-body-1">{{ _suggestion }}</p>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="vm.hideAdvice()" class="md-primary">
            Ok
        </md-button>
    </md-dialog-actions>
</md-dialog>
