<md-dialog aria-label="Status update">
    <md-toolbar class="md-toolbar-tools">
        <h2 id="verification-header">Verification code sent</h2>

        <span flex></span>

        <md-button class="md-icon-button" ng-click="vm.cancel()">
            <md-icon md-svg-src="images/md-icons/ic_close_24px.svg"
                     aria-label="Close dialog" id="close-dialog">
            </md-icon>
        </md-button>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content md-body-1">
        <p>
            A verification code was sent to {{ vm.sentTo }}, please enter
            it below.
        </p>

        <form name="vm.verificationForm" layout="column"
              layout-align="start center" autocomplete="off">
            <!-- TODO: couldn't figure out a better way to keep the input
                 from resizing when something is entered.  Width is the
                 length of the longest code -->
            <md-input-container style="width: 35ch">
                <label>Code</label>

                <input type="text" name="verificationCode" required
                       ng-model="vm.verificationCode" md-auto-focus
                       autocomplete="off">
                <ng-messages
                        for="vm.verificationForm.verificationCode.$error"
                        role="alert">
                    <ng-message when="required">
                        Required.
                    </ng-message>
                </ng-messages>
            </md-input-container>
        </form>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="vm.verify()" class="md-primary" tabindex="1"
                   ng-disabled="vm.verificationForm.$invalid"
                   id="verify-btn">
            Verify
        </md-button>
    </md-dialog-actions>
</md-dialog>
